<div class="col-md-8 order-md-1 mt-3">
  <h4 class="mb-3">Registrarse</h4>
  <form class="needs-validation" novalidate="">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="" value="" required="">
        <div class="invalid-feedback">
          <!--mensaje de error-->
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="surname">Apellidos</label>
        <input type="text" class="form-control" id="surname" placeholder="" value="" required="">
        <div class="invalid-feedback">
          <!--mensaje de error-->
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email">Email <span class="text-muted"></span></label>
      <input type="email" class="form-control" id="email" placeholder="tu@ejemplo.com" required="">
      <div class="invalid-feedback">
        <!--mensaje de error-->
      </div>
    </div>

    <div class="mb-3">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="" required="">
      <div class="invalid-feedback">
        <!--mensaje de error-->
      </div>
    </div>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Registrarse</button>
  </form>
</div>
