<!--<div class="container-fluid mt-3" *ngIf="posts">
  <h1>{{pageTitle}}</h1>
  <hr>
  <div class="card-columns">
    <article class="card w-100" *ngFor="let post of posts">
      <div class="card-header">
        <h3><a [routerLink]="['/entrada/', post.id]">{{post.title}}</a></h3>
      </div>

      <div class="card-body">
        <div class="post-image">
          <img src="{{ url + 'post/getimage/' +post.image}}" class="w-100"/>
        </div>
      </div>
      <div class="post-buttons mt-3">
        <span *ngIf="identity && identity.sub == post.user_id">
        <a [routerLink]="['/editar-entrada/', post.id]" class="btn btn-warning mr-2">Editar</a>
        <a (click)="deletePost(post.id)" class="btn btn-danger mr-2">Borrar</a>
        </span>
      </div>

    </article>
  </div>
</div>-->
<div class="hamburger hamburger--slider js-hamburger">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>
<div class="wrapper-web">
 <!-- <div class="header">
    <div class="header-overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 text-center container-header-image">
            <img class="header-image" src="assets/img/pc.png" alt="aprende a programar">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="header-content fadeInDown animated">
              <h2 class="header-name">Desarrollo web</h2>
              <h1 class="header-text">Blog y cursos de programación</h1>
              <h2 class="subheader-text">Aprende Laravel, Angular y JavaScript con nuestro blog.</h2>
              <span id="btn-read" class="header-read">Leer más</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <section class="section-white" id="last-home-posts">
    <h3 class="section-title">Últimas entradas</h3>
    <div class="separator"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12" *ngFor="let post of posts">
          <a [routerLink]="['/entrada/', post.id]">
            <div class="last-posts-container">
              <img src="{{ url + 'post/getimage/' +post.image}}" class="w-100"/>
              <h3>{{post.title}}</h3>
              <span>{{post.category.name}}</span>
              <p class="description-last-post">{{post.description}}</p>
            </div>
          </a>
        </div>
      <!--  <div class="col-lg-4 col-md-12">
          <a href="#">
            <div class="last-posts-container">
              <img src="assets/cms/images/efyJeulNZrGypH8q.png" alt="Crear API REST con Laravel">
              <h3>Crear API REST con Laravel</h3>
              <span>laravel</span>
              <p class="description-last-post">El uso de una API es el mecanismo más útil para conectar dos softwares
                entre sí y trabajar con una base de datos independientemente del lenguaje que utilicemos. En este
                artículo aprenderemos a cre...</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-12">
          <a href="#">
            <div class="last-posts-container">
              <img src="assets/cms/images/HJFfVik24ZDmgfKz.png" alt="Comprimir archivos en Laravel">
              <h3>Comprimir archivos en Laravel</h3>
              <span>laravel</span>
              <p class="description-last-post">En nuestro artículo anterior llamado Subir archivos en laravel,
                aprendimos a guardar archivos en nuestra aplicación y hacer uso de ellos.
                En este artículo vamos aprender a comprimir archivos que t...</p>
            </div>
          </a>
        </div>-->
      </div>
    </div>
  </section>
  <!--<section id="home-category" class="black-section">
    <div class="container-courses">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 container-courser-text-home">
            <h3 class="home-courser-text">Haz de tu pasión tu profesión con nuestros cursos de programación</h3>
            <a href="#" class="btn btn-efect">Ver ahora</a>
          </div>
          <div class="col-md-6">
            <img class="image-curse-home" src="assets/img/curse_nigmacode_home.png" alt="cursos_programacion">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-white">
    <h4 class="section-title">Contacta con nosotros</h4>
    <div class="separator"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div id="vuecontact">

          </div>
        </div>
      </div>
    </div>
  </section>-->
</div>



