<!-- 
<div class="hamburger hamburger--slider js-hamburger">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>
<div class="wrapper-web">
<div class="header">
    <div class="header-overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 text-center container-header-image">
            <img class="header-image" src="assets/img/pc2.png" alt="aprende a programar">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="header-content fadeInDown animated">
              <h2 class="header-name">Desarrollo web</h2>
              <h1 class="header-text">Blog y cursos de programación</h1>
              <h2 class="subheader-text">Aprende Laravel, Angular y JavaScript con nuestro blog.</h2>
              <span id="btn-read" class="header-read">Leer más</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section-white" id="last-home-posts">
    <h3 class="section-title">Últimas entradas</h3>
    <div class="separator"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12" *ngFor="let post of posts">
          <a [routerLink]="['/entrada/', post.id]">
            <div class="last-posts-container">
              <img src="{{ url + 'post/getimage/' +post.image}}" class="w-100"/>
              <h3>{{post.title}}</h3>
              <span>{{post.category.name}}</span>
              <p class="description-last-post">{{post.description}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="home-category" class="black-section">
    <div class="container-courses">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 container-courser-text-home">
            <h3 class="home-courser-text">Haz de tu pasión tu profesión con nuestros articulos de programación</h3>
            <a [routerLink]="['/categoria/', 5]" class="btn btn-efect">Ver ahora</a>
          </div>
          <div class="col-md-6">
            <img class="image-curse-home" src="assets/img/curse_nigmacode_home.png" alt="cursos_programacion">
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->



