<div class="wrapper-web" *ngIf="post">
  <div class="container-fluid post-page">
    <div class="row">
      <div class="col-md-12">
        <div class="top-space"></div>
        <h1 class="post-title">{{post.title}}</h1>
        <br>
        <a [routerLink]="['/categoria/', post.category.id]"><span
          class="post-category">{{post.category.name}}</span></a>
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="post-container">
              <div class="author-post">
                <div class="author-image">
                  <img src="{{url+'user/getimage/'+post.user.image}}" class=""/>
                </div>
                <div class="author-data align-middle">
                  <a [routerLink]="['/perfil/', post.user_id]"><span
                    class="author-name">{{post.user.name + ' ' + post.user.surname}}</span></a>
                </div>

                <div class="post-description fadeIn animated">
                  <p [innerHTML]="post.content"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="comments-container-form" *ngIf="identity">
              <h3 class="title-container-comments">Comenta esta entrada</h3>
              <form class="comment-form needs-validation" novalidate="" #commentForm="ngForm"
                    (ngSubmit)="onSubmit(commentForm)" *ngIf="!commented">
                <!--  <div class="form-group">
                    <label for="name">Nombre *</label>
                    <input class="form-control" type="text" name="author" #name="ngModel" [(ngModel)]="user.name" pattern="[a-zA-Z]+">
                  </div>
                  <div class="form-group">
                    <label for="name">Correo * <span class="comment-info">(El correo no aparecerá en el comentario publicado)</span></label>
                    <input class="form-control" type="email" name="email">
                  </div>-->
                <div class="form-group">
                  <label for="content">Comentario</label>
                  <textarea class="form-control" rows="5" id="content" name="content" #content="ngModel"
                            [(ngModel)]="comment.content"></textarea>
                  <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                    Introduce un comentario válido
                  </small>
                </div>
                <button type="submit" class="btn btn-web">Enviar comentario</button>
              </form>
              <div class="alert alert-success" *ngIf="commented">Comentario enviado con exito</div>
            </div>

            <div class="comments-container-form" *ngIf="!identity">
              <h3 class="title-container-comments">Comenta esta entrada</h3>
              <button class="btn btn-primary" style="background-color: #C63D2D; border-color: #C63D2D;"
                      (click)="googleLogin()">
                <i class="fa fa-google"> Google</i>
              </button>
            </div>
          </div>


          <!--NG IF-->
          <div class="col-md-8">
            <div class="comments-container">
              <h4 class="title-container-comments">Comentarios</h4>
              <div class="alert alert-warning" *ngIf="comments && comments.length == 0">No hay comentarios para esta
                entrada
              </div>
              <div *ngFor="let c of comments">
                <div class="comment-box">
                  <p class="comment-name">{{c.user.name}}</p>
                  <p class="comment-msg">{{c.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
