<br> <br>

<div class="col-md-8 order-md-1 mt-3">
  <h4 class="mb-3">{{pageTitle}}</h4>
  <form class="needs-validation" novalidate="" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="mb-3">
      <label for="email">Email <span class="text-muted"></span></label>
      <input type="email" class="form-control" id="email"  name="email" placeholder="tu@ejemplo.com" required="" #email="ngModel"
             [(ngModel)]="user.email">
      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        Introduce un email válido
      </small>
    </div>

    <div class="mb-3">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password"  name="password" placeholder="" required="" #password="ngModel" [(ngModel)]="user.password">
      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
        Introduce una contraseña válida
      </small>
    </div>

    <hr class="mb-4">
    <button class="btn btn-dark btn-lg btn-block" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
  </form>
</div>

