/* You can add global styles to this file, and also import other style files */
.profile_image_edit{
  width: 80px;
  margin-bottom: 10px;
}
.profile_image{
  width: 40px;
  height: 40px;
  border-radius: 900px;
  overflow: hidden;
}

.profile_image img{
  height: 40px;
}
