/* You can add global styles to this file, and also import other style files */
.profile_image_edit {
  width: 80px;
  margin-bottom: 10px;
}

.profile_image {
  width: 40px;
  height: 40px;
  border-radius: 900px;
  overflow: hidden;
}

.profile_image img {
  height: 40px;
}

.card-header a {
  color: #444;
}

.post-image {
  height: 200px;
  overflow: hidden;
}

footer {
  color: lightgrey;
  margin-top: 50px;
}

.navbar-web {
  width: 100%;
  height: 5rem;
  background-color: #202125;
}

.navbar-container {
  position: fixed;
  z-index: 3;
  width: 100%;
}

