/* You can add global styles to this file, and also import other style files */
.profile_image_edit {
  width: 80px;
  margin-bottom: 10px;
}

.profile_image {

}

.profile_image img {
  height: 40px;
}

.card-header a {
  color: #444;
}

.post-image {
  height: 200px;
  overflow: hidden;
}

footer {
  color: lightgrey;
  margin-top: 50px;
}




/*
body {
  background: #e9ebee;
  font-family: 'AntonRegular', sans-serif;
  font-size: 16px;
}

a {
  color: #1176b6;
}

a:hover {
  text-decoration: underline
}

header {
  background: #1176b6;
  padding: 10px 0;
}

header .logo img {
  height: 22px;
}

header .buscar form input[type="text"] {
  width: 100%;
  background: #fff;
  border: none;
  font-size: 12px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px 0 0 3px;
  color: #6d6d6d;
  font-family: 'Open Sans', sans-serif;
}

header .buscar form button {
  width: 100%;
  background: #fff;
  border: none;
  font-size: 12px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 0 3px 3px 0;
  color: #6d6d6d;
  cursor: pointer;
}

header .buscar form button:hover {
  background: #099efc;
  color: #ffffff;
}

header .menu {
  padding: 0;
}

header .menu a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

header .menu a:hover {
  color: rgba(255, 255, 255, .1);
}

header .menu .imagen {
  display: inline-block;
  width: 22px;
  height: 22px;
  overflow: hidden;
}

header .menu .imagen img {
  border-radius: 100px;
}

!*MediaQueries*!
@media screen and (max-width: 575px){
header .menu{
  padding: 15px 15px 0 15px;
}
}*/

